version: 2.1

commands:
  dot_net_build:
    description: "Build dot net project"
    parameters:
      path:
        type: string
    steps:
      - run: 
          name: Dotnet build
          command: |
            cd << parameters.path >>
            dotnet build
  
  dot_net_test:
    description: "Test dot net project"
    parameters:
      path:
        type: string
    steps:
      - run: 
          name: Dotnet test
          command: |
            cd << parameters.path >>
            dotnet test

  npm_build:
    description: "build npm"
    parameters:
      path:
        type: string
    steps:
      - run: 
          name: Build npm
          command: |
            cd << parameters.path >>
            npm install
            npm run build
            npm run lint

  cf_deploy:
    description: "cf deploy"
    parameters:
      cf_url:
        type: string
        default: https://api.system.y.cld.gov.au
      cf_user:
        type: string
        default: $CF_USER_STAGING
      cf_password:
        type: string
        default: $CF_PASSWORD_STAGING
      cf_app_name:
        type: string
      cf_manifest:
        type: string
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Deploy
          command: |
            cf login -a << parameters.cf_url >> -o dta -s marketplace -u << parameters.cf_user >> -p << parameters.cf_password >>
            cf zero-downtime-push << parameters.cf_app_name >> -f .manifests/<< parameters.cf_manifest >> --show-app-log
    

jobs:
  run_slack_worker_build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
    steps:
      - attach_workspace:
          at: .
      - checkout
      - dot_net_build: 
          path: "subscribers/slack/worker"
      - persist_to_workspace:
          root: subscribers/slack
          paths:
            - "**/*"

  run_email_logger_build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
    steps:
      - attach_workspace:
          at: .
      - checkout
      - dot_net_build:
          path: "subscribers/email.logger/worker"
      - persist_to_workspace:
          root: subscribers/email.logger
          paths:
            - "**/*"

  run_logger_build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
    steps:
      - attach_workspace:
          at: .
      - checkout
      - dot_net_build: 
          path: "subscribers/logs/worker"
      - persist_to_workspace:
          root: subscribers/logs
          paths:
            - "**/*"

  run_api_build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
    steps:
      - attach_workspace:
          at: .
      - checkout
      - dot_net_build: 
          path: "api"
      - persist_to_workspace:
          root: api
          paths:
            - "**/*"

  run_npm_builds:
    docker:
      - image: circleci/node:12-stretch-browsers
    steps:
      - attach_workspace:
          at: .
      - checkout
      - npm_build:
          path: "ui-automated-tests"
      - persist_to_workspace:
          root: .
          paths:
            - "**/*"

  run_slack_worker_test:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
    steps:
      - attach_workspace:
          at: .
      - dot_net_test:
          path: "subscribers/slack/worker.tests"

  run_email_logger_test:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
    steps:
      - attach_workspace:
          at: .
      - dot_net_test:
          path: "subscribers/email.logger/worker.tests"

  run_logger_test:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
    steps:
      - attach_workspace:
          at: .
      - dot_net_test:
          path: "subscribers/logs/worker.tests"

  run_api_test:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1
    steps:
      - attach_workspace:
          at: .
      - dot_net_test:
          path: "api/Tests"

  run_automated_tests:
    docker:
      - image: circleci/node:12-stretch-browsers
    steps:
      - attach_workspace:
          at: .
      - checkout
      - run: 
          name: Run Tests
          command: |
            cd ui-automated-tests
            npm install
            export FRONTEND_ADDRESS=http://dm-dev.apps.y.cld.gov.au
            export SELLER_EMAIL=$AUTOMATION_SELLER_EMAIL_STAGING
            export SELLER_PASSWORD=$AUTOMATION_SELLER_PASSWORD_STAGING
            export BUYER_EMAIL=$AUTOMATION_BUYER_EMAIL_STAGING
            export BUYER_PASSWORD=$AUTOMATION_BUYER_PASSWORD_STAGING
            export SHORTEN_TYPED_INPUT=false
            export HEADLESS=true
            export IGNORE_MULTIPLE_LINKS=true
            export SELLER_CATEGORY=3
            export SELLER_NAME=auto
            export SLOW_MO=10
            npm test
    
  deploy_to_rc:
    docker:
      - image: govau/cf-cli
    steps:
      - cf_deploy:
          cf_app_name: dm-rc-slack-worker
          cf_manifest: slack-worker.rc.yml
      - cf_deploy:
          cf_app_name: dm-rc-logger
          cf_manifest: logger.rc.yml    

  deploy_to_production_clone:
    docker:
      - image: govau/cf-cli
    steps:
      - cf_deploy:
          cf_app_name: dm-pc-slack-worker
          cf_manifest: slack-worker.pc.yml
      - cf_deploy:
          cf_app_name: dm-pc-logger
          cf_manifest: logger.pc.yml

  deploy_to_staging:
    docker:
      - image: govau/cf-cli
    steps:
      - cf_deploy:
          cf_app_name: dm-dev-slack-worker
          cf_manifest: slack-worker.dev.yml
      - cf_deploy:
          cf_app_name: dm-dev-logger
          cf_manifest: logger.dev.yml

  deploy_to_alpha:
    docker:
      - image: govau/cf-cli
    steps:
      - cf_deploy:
          cf_app_name: dm-alpha-logger
          cf_manifest: logger.alpha.yml

  deploy_to_production:
    docker:
      - image: govau/cf-cli
    steps:
      - cf_deploy:
          cf_url: https://api.system.b.cld.gov.au
          cf_user: $CF_USER_PROD
          cf_password: $CF_PASSWORD_PROD
          cf_app_name: dm-slack-worker
          cf_manifest: slack-worker.prod.yml
      - cf_deploy:
          cf_url: https://api.system.b.cld.gov.au
          cf_user: $CF_USER_PROD
          cf_password: $CF_PASSWORD_PROD
          cf_app_name: dm-email-logger
          cf_manifest: email-logger.prod.yml
      - cf_deploy:
          cf_url: https://api.system.b.cld.gov.au
          cf_user: $CF_USER_PROD
          cf_password: $CF_PASSWORD_PROD
          cf_app_name: dm-logger
          cf_manifest: logger.prod.yml

workflows:
  version: 2
  run_ui_automated_tests:
    triggers:
      - schedule:
          cron: "0 9 * * 4"
          filters:
            branches:
              only: master
    jobs:
      - run_automated_tests:
          filters:
            tags:
              ignore: /.*/
            branches:
              only: master
  build_test_deploy:
    jobs:
      - run_npm_builds:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - run_slack_worker_build:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - run_email_logger_build:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - run_logger_build:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - run_api_build:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - run_slack_worker_test:
          requires:
            - run_slack_worker_build
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - run_email_logger_test:
          requires:
            - run_email_logger_build
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - run_logger_test:
          requires:
            - run_logger_build
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - run_api_test:
          requires:
            - run_api_build
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - deploy_to_alpha:
          requires:
            - run_slack_worker_test
            - run_email_logger_test
            - run_logger_test
            - run_api_test
          filters:
            tags:
              ignore: /.*/
            branches:
              only: alpha
      - deploy_to_rc:
          requires:
            - run_slack_worker_test
            - run_email_logger_test
            - run_logger_test
            - run_api_test
          filters:
            tags:
              ignore: /.*/
            branches:
              only: rc
      - deploy_to_staging:
          requires:
            - run_slack_worker_test
            - run_email_logger_test
            - run_logger_test
            - run_api_test
          filters:
            tags:
              ignore: /.*/
            branches:
              only: master
      - deploy_to_production:
          requires:
            - run_slack_worker_test
            - run_email_logger_test
            - run_logger_test
            - run_api_test
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
      - deploy_to_production_clone:
          requires:
            - deploy_to_production
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
